<div class="container">	
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

	<div class="well">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<%= form_with model: [ @company, @employee ], local: true do |form| %>

						<%= form.label  "Ingrese nombre"%>
						<%= form.text_field :first_name %>

						<%= form.label "Ingresa el apellido"%>
						<%= form.text_field :last_name %>

						<%= form.label "Ingresa el correo"%>
						<%= form.text_field :email %>

						<%= form.label "Ingresa el apellido"%>
						<%= form.select :area_id, @area.collect{ |a| [a.name, a.id]}, prompt:' Elige' %>

						<%= form.submit "Agregar"  %>

					<% end %>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<% @company.employees.each do |t| %>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Correo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= t.first_name %></td>
							<td><%= t.last_name %> </td>
							<td><%= t.first_name %> <%= link_to 'Borrar',company_employee_path(@company, t), class: 'btn btn-danger', method: :delete%></td>
						</tr>
					</tbody>
				</table>

			
				<% end %>		
			</div>	
		</div>
	</div>
	<%= link_to 'Edit', edit_company_path(@company) %> |
	<%= link_to 'Back', companies_path %>
</div>